@font-face {
  font-family: 'Barlow black';
  src: url(../fonts/Barlow/BARLOW-EXTRALIGHT.TTF) format("truetype");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: 'Barlow black';
  src: url(../fonts/Barlow/BARLOW-REGULAR.TTF) format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'Barlow black';
  src: url(../fonts/Barlow/BARLOW-MEDIUM.TTF) format("truetype");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: 'Barlow black';
  src: url(../fonts/Barlow/BARLOW-BOLD.TTF) format("truetype");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: Garamond;
  src: url(../fonts/Garamond/GARA.TTF) format("truetype");
  font-style: normal;
  font-weight: 400; }

.btn {
  background-color: #75DED7;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer; }

.btn-prim {
  padding: 1rem 4rem; }

.btn-form {
  padding: .5rem 1rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  /*reset para rem*/ }

body {
  font-size: 2rem;
  font-family: 'Barlow black';
  font-weight: 400; }

.container {
  width: 90%;
  margin: 0 auto; }

.header {
  background-color: #000000;
  padding: 2rem 0; }
  .header .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .header .nav .nav__logo img {
      width: 15rem;
      position: relative; }
    .header .nav .navbar__btn__cont {
      height: 5rem;
      width: 5rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 100; }
    .header .nav .navbar__btn {
      position: relative;
      display: block;
      content: '';
      width: 3rem;
      height: .5rem;
      background-color: #75DED7;
      border-radius: .5rem; }
      .header .nav .navbar__btn::before, .header .nav .navbar__btn::after {
        content: '';
        width: 3rem;
        height: .5rem;
        background-color: #75DED7;
        position: absolute;
        border-radius: .5rem;
        transition: all .5s; }
      .header .nav .navbar__btn::before {
        top: 1rem; }
      .header .nav .navbar__btn::after {
        top: -1rem; }
    .header .nav .navbar__arrow {
      transition: all .5s; }
      .header .nav .navbar__arrow::before {
        top: .5rem;
        transform: rotate(30deg);
        width: 2rem; }
      .header .nav .navbar__arrow::after {
        top: -.5rem;
        transform: rotate(-30deg);
        width: 2rem; }
    .header .nav .nav__ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 50%;
      clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
      transition: all .5s;
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      background-color: #000000; }
      .header .nav .nav__ul a {
        text-decoration: none;
        text-transform: uppercase;
        color: #ffffff;
        font-family: 'Barlow black';
        font-weight: 300;
        font-size: 2rem; }
    .header .nav .nav__dropdown {
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
      transition: all .5s; }

@media screen and (min-width: 720px) {
  .header .nav .nav__logo img {
    width: 18rem; }
  .header .nav .nav__ul {
    flex-direction: row;
    height: auto;
    position: static;
    width: 50%;
    clip-path: none; }
  .header .nav .navbar__btn__cont {
    display: none; } }

.top {
  height: 60vh;
  background-image: url(../img/SLIDER.png);
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed; }
  .top .top__text--modified {
    font-size: 7rem;
    font-weight: 400; }

.nosotros {
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .nosotros .nosotros__img {
    flex-basis: 40%; }
    .nosotros .nosotros__img img {
      width: 25rem; }
  .nosotros .nosotros__text {
    flex-basis: 50%; }

@media screen and (min-width: 720px) {
  .nosotros {
    flex-direction: row; } }

.productos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  text-align: center; }
  .productos .productos__banner {
    width: 100%;
    height: 40rem;
    background-image: url(../img/BANNER_Sillon.png);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s; }
    .productos .productos__banner:hover {
      filter: brightness(0.8); }
    .productos .productos__banner:hover > h2 {
      transform: scale(1.1); }
    .productos .productos__banner h2 {
      font-family: 'Barlow black';
      font-size: 6rem;
      font-weight: 400;
      color: #ffffff;
      transition: all .5s; }
  .productos .productos__items {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    padding: 10rem 0; }
    .productos .productos__items .productos__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all .5s; }
      .productos .productos__items .productos__item:hover {
        transform: scale(1.1); }
      .productos .productos__items .productos__item img {
        margin-bottom: 2rem;
        width: 80%; }
      .productos .productos__items .productos__item p {
        color: #c4cac8; }

@media screen and (min-width: 720px) {
  .productos .productos__items {
    grid-template-columns: repeat(3, 1fr); } }

.contacto {
  background-color: #000000;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5rem;
  column-gap: 5rem;
  padding: 7rem; }
  .contacto .formulario .formulario__item {
    margin-bottom: 2rem; }
    .contacto .formulario .formulario__item input, .contacto .formulario .formulario__item select, .contacto .formulario .formulario__item textarea {
      border: none;
      background-color: transparent;
      border-bottom: 1px solid #75DED7;
      display: block;
      height: 4rem;
      width: 100%;
      color: #ffffff; }
    .contacto .formulario .formulario__item select option {
      color: #000000; }
  .contacto .formulario .btn {
    grid-column: 2/3;
    width: 10rem;
    margin-left: auto; }
  .contacto .contacto__datos {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contacto .contacto__datos ul {
      list-style: none; }
      .contacto .contacto__datos ul li {
        margin: 2rem 0 0 2rem; }
      .contacto .contacto__datos ul .tel {
        position: relative; }
        .contacto .contacto__datos ul .tel:before {
          content: url(../img/phone-alt-solid.svg);
          position: absolute;
          width: 2rem;
          left: -3rem; }
      .contacto .contacto__datos ul .cel {
        position: relative; }
        .contacto .contacto__datos ul .cel:before {
          content: url(../img/whatsapp-brands.svg);
          position: absolute;
          width: 2rem;
          left: -3rem; }
      .contacto .contacto__datos ul .loc {
        position: relative; }
        .contacto .contacto__datos ul .loc:before {
          content: url(../img/map-marker-alt-solid.svg);
          position: absolute;
          width: 2rem;
          left: -3rem; }
    .contacto .contacto__datos p {
      margin-top: 2rem;
      white-space: pre-line; }

@media screen and (min-width: 720px) {
  .contacto {
    grid-template-columns: 2fr 1fr 1fr; }
    .contacto .formulario {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 4rem;
      row-gap: 2rem; }
    .contacto h3 {
      margin-bottom: 3rem; }
    .contacto .contacto__datos {
      margin-left: 5rem; } }

.footer {
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #75DED7;
  color: #ffffff; }

h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Barlow black';
  font-weight: 300;
  font-size: 3rem;
  white-space: pre-line;
  text-align: center; }

h2 {
  font-family: Garamond;
  font-weight: 300;
  font-size: 5rem; }

h3 {
  font-family: Garamond;
  font-weight: 400;
  font-size: 4rem; }
