
//sección nosotros

.nosotros{
    padding: 8rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .nosotros__img{
        flex-basis: 40%;
        img{
            width: 25rem;
           
        }
    }

    .nosotros__text{
        flex-basis: 50%;
    }
}

@media screen and (min-width: 720px){
    .nosotros{
        flex-direction: row;
    }
}