
//top section

.top{
    height: 60vh;
    background-image: url(../img/SLIDER.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;


    .top__text--modified{
        font-size: 7rem;
        font-weight: 400;
    }
}
