//botones

.btn{
    background-color: $branding;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.btn-prim{
    padding: 1rem 4rem;
}

.btn-form{
    padding: .5rem 1rem;
}

