

//BARLOW FONT

@font-face{
    font-family: 'Barlow black';
    src: url(../fonts/Barlow/BARLOW-EXTRALIGHT.TTF) format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face{
    font-family: 'Barlow black';
    src: url(../fonts/Barlow/BARLOW-REGULAR.TTF) format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family: 'Barlow black';
    src: url(../fonts/Barlow/BARLOW-MEDIUM.TTF) format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face{
    font-family: 'Barlow black';
    src: url(../fonts/Barlow/BARLOW-BOLD.TTF) format('truetype');
    font-style: normal;
    font-weight: 700;
}



//Gramond
@font-face {
    font-family: Garamond;
    src: url(../fonts/Garamond/GARA.TTF) format('truetype');
    font-style: normal;
    font-weight: 400;
}
