//resets

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; /*reset para rem*/
}

body{
    font-size: 2rem;
    font-family: 'Barlow black';
    font-weight: 400;
}

.container{
    width: 90%;
    margin: 0 auto;
}